body{
    text-align: center;
    background-color: aquamarine;
}
h2{
    font-size:20px;
    color: hotpink;
}
h1{
    color: forestgreen;
}
#navi{
    position:sticky;
    z-index: 999999
    top:0;
}